<span class="image image-span-{{ include.span | default: 'default' }} ">
  {%- if include.page -%}
    {%- assign image_page = include.page -%}
  {%- else -%}
    {%- assign image_page = page -%}
  {%- endif -%}
  {%- capture image_url -%}
    {%- if include.external -%}
      {{ include.src }}
    {%- else -%}
      {{ site.baseurl }}/assets/img{{ image_page.url }}{{ include.src }}
    {%- endif -%}
  {%- endcapture -%}
  <span class="image-img b-lazy" data-src="{{ image_url }}"></span>
</span>
