
html {
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  font-weight: 300;

  @media(min-width: $bp-mobile) {
    font-size: 20px;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

a {
  color: $colour-primary;
  text-decoration: none;
}

p,
blockquote {
  a {
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: $colour-primary;
      transition-property: width;
      transition-duration: 0.15s;
      z-index: -1;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}

nav {
  ul {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    li.current {
      a {
        color: red;
      }
    }
  }
}

blockquote {
  font-size: 1.5em;
  font-family: 'IBM Plex Mono', serif;
  font-weight: 300;
  line-height: 1.8;
  margin-left: 0;
  margin-right: 0;

  @media(min-width: $bp-mobile) {
    font-size: 2em;
  }

  // p {
  //   &::before {
  //     content: '\201C';
  //   }
  //
  //   &::after {
  //     content: '\201D';
  //   }
  // }
}

section.home {

  blockquote {
    font-size: 1em;

    @media(min-width: $bp-mobile) {
      font-size: 1.5em;
      max-width: 30em;
    }

  }

}

article.work {

  .row-footer {
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    max-width: 75em;
  }

}

.work-title {
  font-size: 2.5em;
}

.work-item-title {
  color: white;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.work-item-responsible {
  color: white;
}
