<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link href="http://gmpg.org/xfn/11" rel="profile">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    {% seo %}

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Martel:200,300,400">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

    <!-- Icons -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico"> -->

    <!-- RSS -->
    <!-- <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml"> -->
  </head>

  <body>
    <div id="root-container">
      <header class="masthead">
        <a id="logo" href="{{ site.baseurl }}/" title="Home">
          {%- if page.url == '/' -%}
            <h1>
              <span>{{ site.title }}</span>
              {%- include logo.html -%}
            </h1>
          {%- else -%}
            <h2>
              <span>{{ site.title }}</span>
              {%- include logo.html -%}
            </h2>
          {%- endif -%}
        </a>
        {%- assign page_url_split = page.url | split: '/' -%}
        <nav>
          <ul>
            {%- for nav_item in site.data.navigation -%}
              {%- assign nav_item_path = nav_item | append: '.md' -%}
              {%- assign nav_page = site.pages | where: 'path', nav_item_path | first -%}
              {%- if nav_page -%}
                {%- assign nav_page_url_split = nav_page.url | split: '/' -%}
                {%- assign nav_page_current = true -%}
                {%- for nav_page_url_split_part in nav_page_url_split -%}
                  {%- assign nav_page_url_split_part_index = forloop.index | minus: 1 -%}
                  {%- if nav_page_url_split_part != page_url_split[nav_page_url_split_part_index] -%}
                    {%- assign nav_page_current = false -%}
                  {%- endif -%}
                {%- endfor -%}
                <li {% if nav_page_current %} class="current"{% endif %}>
                  <a href="{{ site.baseurl }}{{ nav_page.url }}">
                    {{ nav_page.title }}
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </nav>
      </header>

      {{ content }}

      <!-- <footer>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </footer> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>

    <script src="{{ site.baseurl }}/assets/javascript/app.js"></script>

  </body>
</html>
